#main {
	margin: 0 20% 0 5%;
}

.level1 {
	padding: 10px 0px;
}

.level2 {
	display: flex;
	flex: column wrap;
	align-items: center;
	padding: 7px 0px;
}

.book-title {
	flex: 1 1 300px;
	color: white;
	display: block;
	background-color: #76b8e2;
	border-radius: 7px;
	text-align: center;
}

.book-content {
	margin-top: 10px;
	margin-left: 15px;
	background-color: #76cce2;
	border-radius: 7px;
	flex: 1 1 300px;
	display: block;
}

.book-content li {
	padding-left: 15px;
	display: block;
	height: 2em;
	border-bottom: 1px solid white;
	text-align: center;
}

@media (max-width: 760px) {
	.level2 {
		display: block;
	}
}
